node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# deploy.ts state
.last-deployed-commit
.update.lock.d

# Sentry Config File
.env.sentry-build-plugin
/src/lib/db/schema.d.ts
